<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About page</title>
</head>

<body>
	<h1>The site is currently down for a maintenance</h1>
	<h2>The date is {{date}}</h2>
</body>

</html>